@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {padding: 0; margin: 0;}

body {
    font-family: "Roboto", "Helvetica Naue", Arial, sans-serif;
    display: grid;
    grid-template-columns: 250px auto 300px;
    grid-template-rows: auto 1fr;    
    gap: 7px 90px;
   
}


/* MENU DE NAVEGAÇÃO */

nav {
    background-color: #fff;
    grid-column: 1;
    height: 100vh;
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    left: 0;

    border-right: 1px solid lightgray ;
    
}
.logo {
    background-color: #fff;
    align-items: center;
    margin: 40px 50px 30px 0px;
}
.logo > a {
    color: black;
    padding: 10px;
}
.menu {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    margin-right: 30px;
}
.itens {
    padding: 8px 30px 8px 8px;
}
.itens:hover {
    background-color: rgba(211, 211, 211, 0.395);
    border-radius: 5px;
    transition: .3s;
}
.itens > a > svg {
    margin-right: 13px;
}
.itens > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-size: .9em;
    font-weight: 400;
    letter-spacing: .3px;
    color: black;
}
.itens img {
    width: 30px;
    border-radius: 50%;
}

/* STORIES */

main { 
    background-color: #fff;
    grid-column: 2;
    display: flex;
    flex-direction: column;
}
.storiesf {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 18px;
}
.story {
    background-color: #fff;
    display: flex;
    flex-direction: row;
}
.story a {
    font-size: .7em;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}
.story img {
    width: 50px;
    border-radius: 50%;
    margin: 5px;
    border: 2.4px solid #E33F5F;
}
.story-theo a {
    font-size: .7em;
    text-decoration: none;
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}
.story-theo img {
    width: 50px;
    border-radius: 50%;
    margin: 5px;
    border: 2.4px solid rgb(61, 208, 27);
} 

/* FEED */

.feed {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.phead {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.phead > a {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: .8em;
    font-weight: bold;
    padding-right: 20px;
}
.phead img {
    width: 30px;
    border-radius: 50%;
    border: 2px solid #E33F5F;
    margin: 7px;
    display: flex;
    justify-items: center;
}
.opcoes {
    padding-left: 350px;
}
.pfoto img {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin: 2px;
}
.pfoto > a {
    display: flex;
    justify-content: center;
}
.esquerda {
    padding-right: 300px;
}
.pitens {
    display: flex;
    justify-content: space-around;
}
.pitens .curtir:hover {
    color: gray;
    transition: .1s;
}
.pitens .coment:hover {
    color: gray;
    transition: .1s;
}
.pitens .comp:hover {
    color: gray;
    transition: .1s;
}
.pitens .salvar:hover {
    color: gray;
    transition: .1s;
}
.pitens a {
    color: black;
    text-decoration: none;
}
.pitens svg {
    margin: 7px;
}
.pcurtidas {
    display: flex;
    justify-content: center;
    font-size: .85em;
    font-weight: 400;
    padding-right: 230px;
}
.pcurtidas a {
    font-weight: bolder;
    text-decoration: none;
    color: black;
}
.pleg {
    display: flex;
    width: 500px;
    font-size: .82em;
    padding: 10px;
    padding-left: 30px;
}
.user {
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    height: 20px;
    align-items: center;
}
.verificado {
    padding: 2px;
}
.legenda a {
    text-decoration: none;
    color: rgb(46, 46, 233);
}
.ptrad {
    padding-left: 30px;
}
.ptrad a {
    text-decoration: none;
    color: black;
    font-size: .75em;
    font-weight: 500;
}
.pcom {
    padding-left: 30px;
}
.pcom a {
    text-decoration: none;
    color: rgb(111, 125, 140);
    font-size: .8em;
}
.ccaixa {
    padding-left: 25px;
    padding-top: 5px;
}
.comentar {
    padding: 5px;
    width: 470px;
    border: none;
    background: none;
    outline: none;
}
.emoji {
    color: gray;
}
.post {
    background-color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid lightgray;
}

/* LATERAL DE SUJESTÕES */

aside {
    grid-column: 3;
    grid-row: 1;
    padding-right: 0px;
}
.perfil {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 23px 1px 15px 0px;
}
.foto-perfil {
    padding: 8px;
}
.foto-perfil img {
    width: 40px;
    border-radius: 50%;
    border: 2.5px solid rgb(187, 184, 184);
    cursor: pointer;
}
.nome-perfil {
    font-size: .9em;
    font-weight: 700;
    cursor: pointer;
}
.pjunto {
    display: flex;
    align-items: center;

    

}
.mudar {
    padding-left: 30px;
}
.mudar a {
    text-decoration: none;
    font-weight: bold;
    font-size: .85em;
    color: rgb(61, 170, 233);
}
.mudar a:hover {
    color: rgb(10, 10, 132);
}
.sujestão {
    background-color: #fff;
}
.stitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 13px;
}
.stitle h1 {
    color: rgb(148, 148, 148);
    font-size: .9em;
}
.stitle a {
    text-decoration: none;
    font-weight: 500;
    font-size: .8em;
    color: black;
}
.stitle a:hover {
    color: gray;
}
.amigos {
    display: flex;
    align-items: center; 
    justify-content: space-between;  
    padding: 7px 3px 5px 12px;
}
.ajunto {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 5px;
}
.amigos a {
    margin-right: 13px;
}
.famigos {
    padding: 8px;
}
.famigos img {
    width: 40px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
}
.namigos {
    padding: 5px;
    font-size: .9em;
    font-weight: 700;
    cursor: pointer;
}
.namigos a {
    padding-left: 100px;
}
.sobre {
    color: rgb(205, 202, 202);
}
.sobre a {
    font-size: .71em;
    color: rgb(205, 202, 202);
    text-decoration: none;
}
.sobre a:hover {
    text-decoration: underline;
}
.meta {
    padding-top: 20px;
    color: rgb(205, 202, 202);
    font-size: .8em;
}
