@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Paleta de cores 
    #6D59C0 #B93590 #E33F5F #FDD579
*/

* {padding: 0px; margin: 0px;}

body {
    font-family: "Roboto", "Helvetica Naue", Arial, sans-serif;
    background-color: #fff;
}
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 32px 10px 16px;
    border-bottom: 1px solid lightgray;
}
.logo {
    cursor: pointer;
}
#pesquisa {
    
    padding: 10px 50px 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(233, 226, 226);
}
.inav {
    cursor: pointer;
}
section.stories {
    padding-top: 17px;
    display: flex;
    justify-content: center;
}
.stories-container {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}
.story {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.stories img {
    width: 52px;
    margin: 9px;
    border-radius: 50%;
    border: 3px solid #E33F5F;
}
.stories img.sua-foto {
    border: 3px solid rgb(188, 183, 183);
}
.stories img.foto-theo {
    border: 3px solid rgb(74, 208, 37);
}
.nome {
    font-size: 12px;
    font-weight: 400;
}
.seu-nome {
    font-size: 12px;
    color: gray;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 18px;
    
}

.user img {
    width: 32px;
    margin: 9px;
    border-radius: 50%;
    border: 2.2px solid #E33F5F;
    cursor: pointer;
}
.nome-feed {
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}
.opcoes {
    padding-left: 380px;
    padding-top: 13px;
    cursor: pointer;
}
section.posts {
    display: flex;
    justify-content: center;
}
.post-image > img {
    width: 500px;
    margin: 5px 0px 10px 0px;
    border-radius: 4px;
}
.post-actions {
    display: flex;
}
.post-actions > svg {
    margin: 0px 10px 0px 0px;
    cursor: pointer;
}
.salvar {
    padding-left: 365px;
}